/* Module_Contact stylesheet For Clear CMS ------------------------------------------------------------------ */

 .Module_Contact {
	margin: 0.5em;
}


 .Module_Contact .block
{
	padding-left: 0.5em;
	border: 1px solid #999;
	background-color: #e9ecef;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	margin-top: 0.2em;
	padding-bottom: 1em;

}

 .Module_Contact .block form
{
	width: 99%;
}


 .Module_Contact .block label
{
	font-weight: bold;
}


 .Module_Contact .block legend
{
 	margin-left: 1em;
	font-weight: bold;
}


 .Module_Contact .block fieldset
{
	border:1px solid #999;
	margin:0;
	margin-top:1em;
	padding: 1em;
	margin-right: 1%;
	width: auto;
	background-color: #f3f3f3;
}


 .Module_Contact .block fieldset textarea
{
	border:1px solid #999;


	margin-right: 1%;
	width: 99%;
	height: 8em;

}

 .Module_Contact .block  .inputFloat
{
	
	width:auto;
	margin:0.5em;
	margin-right:0;
	float: left;

}